@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  max-width: 100vw;
  overflow: hidden auto;
}

.line {
  /* Line 7 */
  display: block;
  margin: auto;
  width: 80%;
  height: 6px;
  margin-bottom: 48px;
  background: linear-gradient(270deg, #FED700 0%, #00FFD7 100%);
  position: relative;
}
@media (max-width: 575.98px) {
  .line {
    width: 100%;
  }
}

body {
  max-width: 100vw;
  overflow: hidden auto;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

html {
  overflow: hidden auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1300px;
  }
}
header {
  width: 100%;
}
header .top {
  width: 100%;
  background-color: #000;
  color: #FAFAFA;
  padding: 10px 0;
}
header .top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992.98px) {
  header .top .container span {
    display: none;
  }
}
@media (max-width: 575.98px) {
  header .top .container {
    justify-content: center;
  }
}
header .top p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
header .top p a {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #FAFAFA;
}
@media (max-width: 767.98px) {
  header .top p {
    font-size: 11px;
  }
  header .top p a {
    font-size: 11px;
  }
}
@media (max-width: 575.98px) {
  header .top .lang_select {
    display: none;
  }
}
header .top .lang_select .head {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 767.98px) {
  header .top .lang_select .head {
    font-size: 12px;
  }
  header .top .lang_select .head svg {
    width: 18px;
    height: 18px;
  }
}
header .header {
  position: relative;
  padding: 10px 0 15px;
}
header .header::after {
  background: linear-gradient(90deg, #FDD802 0%, #02FFD6 100%);
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
}
@media (max-width: 575.98px) {
  header .header {
    padding: 8px 0 13px;
  }
  header .header::after {
    height: 3px;
  }
}
header .header .container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
header .header .container .logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header .header .container .logo_wrapper svg {
  display: none;
}
@media (max-width: 992.98px) {
  header .header .container .logo_wrapper svg {
    display: block;
  }
}
@media (max-width: 575.98px) {
  header .header .container .logo_wrapper svg {
    width: 24px;
    height: 24px;
  }
}
header .header .container .logo {
  width: 185px;
}
@media (max-width: 1199.98px) {
  header .header .container .logo {
    width: 170px;
  }
}
@media (max-width: 1199.98px) {
  header .header .container .logo {
    width: 170px;
  }
}
@media (max-width: 575.98px) {
  header .header .container .logo {
    width: 110px;
  }
}
header .header .container .main_menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header .container .main_menu .search_link {
  display: none;
}
@media (max-width: 1199.98px) {
  header .header .container .main_menu .search_link {
    display: flex;
  }
}
header .header .container .main_menu a svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
}
@media (max-width: 575.98px) {
  header .header .container .main_menu a svg {
    width: 24px;
    height: 24px;
  }
}
header .header .container .main_menu .search_wrapper {
  position: relative;
  margin-right: 16px;
}
@media (max-width: 1199.98px) {
  header .header .container .main_menu .search_wrapper {
    display: none;
  }
}
header .header .container .main_menu .search_wrapper input {
  background: #F5F5F5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  padding-right: 24px;
}
header .header .container .main_menu .search_wrapper input:focus {
  outline: 1px solid #FDD802;
}
header .header .container .main_menu .search_wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header .container .main_menu .search_wrapper svg {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}
header .header .container .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992.98px) {
  header .header .container .links {
    display: none;
  }
}
header .header .container .links a {
  padding: 4px 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in;
}
header .header .container .links a:hover, header .header .container .links a.active {
  font-weight: 700;
}
@media (max-width: 1199.98px) {
  header .header .container .links a {
    padding: 4px 24px;
    font-size: 15px;
  }
}
header .responsive_menu {
  display: none;
}
@media (max-width: 992.98px) {
  header .responsive_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 4;
    padding: 32px 16px 32px;
  }
}
header .responsive_menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background: linear-gradient(90deg, #FED700 0%, #00FFD7 100%);
}
header .responsive_menu .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
header .responsive_menu .head h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  color: #000;
}
header .responsive_menu .head button {
  background: rgba(229, 220, 173, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  color: #4B4A42;
  gap: 8px;
  border: none;
  border-radius: 4px;
  padding: 8px;
}
header .responsive_menu a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  padding: 20px 0;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
}
header .responsive_menu a.login {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}
header .responsive_menu .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .responsive_menu .lang h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}
header .responsive_menu .lang .btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .responsive_menu .lang .btns button {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 4px 12px;
  color: #000;
  background-color: transparent;
  font-weight: 500;
}
header .responsive_menu .lang .btns button.selected {
  background-color: #000;
  color: #fff;
}
header .categories {
  background: #242424;
  padding: 10px 0;
}
header .categories .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .categories a {
  gap: 4px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.5;
  text-decoration: none;
  width: 100%;
  justify-content: center;
}
header .categories a:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.418);
}
header .categories a svg {
  color: #fff;
}
@media (max-width: 992.98px) {
  header .categories {
    display: none;
  }
}

.main-slider {
  width: 100%;
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .main-slider {
    margin-top: 24px;
  }
}
.main-slider .swiper-pagination-fraction, .main-slider .swiper-pagination-custom, .main-slider .swiper-horizontal > .swiper-pagination-bullets, .main-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50%;
  left: auto;
  right: 0;
  bottom: 72px;
}
@media (max-width: 992.98px) {
  .main-slider .swiper-pagination-fraction, .main-slider .swiper-pagination-custom, .main-slider .swiper-horizontal > .swiper-pagination-bullets, .main-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100%;
    bottom: 0;
  }
}
.main-slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(183, 183, 183);
  border: 3px solid rgb(183, 183, 183);
  box-sizing: content-box;
  opacity: 1;
}
.main-slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, .main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #fff;
  background-color: #FED700;
}
@media (max-width: 992.98px) {
  .main-slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, .main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #000;
  }
}
.main-slider .swiper-slide {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border-bottom: 8px solid #FED700;
}
@media (max-width: 1199.98px) {
  .main-slider .swiper-slide {
    height: 360px;
  }
}
@media (max-width: 992.98px) {
  .main-slider .swiper-slide {
    height: 320px;
    margin-bottom: 32px;
    border-bottom: 6px solid #FED700;
  }
}
@media (max-width: 767.98px) {
  .main-slider .swiper-slide {
    height: 280px;
    margin-bottom: 32px;
  }
}
@media (max-width: 575.98px) {
  .main-slider .swiper-slide {
    height: 210px;
  }
}
.main-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-slider .swiper-slide .text {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575.98px) {
  .main-slider .swiper-slide .text {
    width: 60%;
  }
}
.main-slider .swiper-slide .text h1 {
  font-size: 41px;
  font-weight: 700;
  line-height: 51.66px;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .main-slider .swiper-slide .text h1 {
    font-size: 32px;
    line-height: 31.66px;
  }
}
@media (max-width: 767.98px) {
  .main-slider .swiper-slide .text h1 {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 575.98px) {
  .main-slider .swiper-slide .text h1 {
    font-size: 18px;
    line-height: 18px;
  }
}
.main-slider .swiper-slide .text h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  color: #fff;
  margin-top: 12px;
}
@media (max-width: 1199.98px) {
  .main-slider .swiper-slide .text h4 {
    font-size: 16px;
  }
}
@media (max-width: 1199.98px) {
  .main-slider .swiper-slide .text h4 {
    font-size: 13px;
    line-height: 20px;
  }
}
.main-slider .swiper-slide .text a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  padding: 8px 56px;
  border-radius: 8px;
  background-color: #FED700;
  margin-top: 22px;
  text-decoration: none;
  width: max-content;
}
@media (max-width: 1199.98px) {
  .main-slider .swiper-slide .text a {
    font-size: 18px;
    padding: 6px 40px;
  }
}
@media (max-width: 575.98px) {
  .main-slider .swiper-slide .text a {
    font-size: 18px;
    padding: 3px 24px;
  }
}

.categories_slider_wrapper {
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper {
    margin-bottom: 24px;
  }
}
.categories_slider_wrapper .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.categories_slider_wrapper .head h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000;
}
@media (max-width: 1199.98px) {
  .categories_slider_wrapper .head h1 {
    font-size: 29px;
  }
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper .head h1 {
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  .categories_slider_wrapper .head h1 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper .head {
    margin-bottom: 16px;
  }
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper {
    margin-top: 24px;
  }
}
.categories_slider_wrapper .navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}
.categories_slider_wrapper .navigation button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  background-color: #F3F3F3;
}
.categories_slider_wrapper .navigation button.next {
  background-color: #000;
}
@media (max-width: 1199.98px) {
  .categories_slider_wrapper .navigation button {
    width: 40px;
    height: 40px;
  }
  .categories_slider_wrapper .navigation button svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper .navigation button {
    display: none;
  }
}
.categories_slider_wrapper .browse-by-category .swiper-pagination-bullets {
  display: none;
}
@media (max-width: 767.98px) {
  .categories_slider_wrapper .browse-by-category .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .categories_slider_wrapper .browse-by-category .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    opacity: 1 !important;
  }
  .categories_slider_wrapper .browse-by-category .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 8px !important;
    width: 20px !important;
    border-radius: 50px !important;
    background-color: #FDD802 !important;
    border: 2px solid #b59a00 !important;
  }
}
.categories_slider_wrapper .browse-by-category .swiper-slide {
  margin-bottom: 48px;
}
.categories_slider_wrapper .browse-by-category .swiper-slide img {
  width: 100%;
}
.categories_slider_wrapper .browse-by-category .swiper-slide h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  color: #000;
  text-align: center;
  margin-top: 4px;
}

.best_selling_slider_wrapper {
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper {
    margin-bottom: 24px;
  }
}
.best_selling_slider_wrapper .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .head {
    flex-direction: column;
  }
}
.best_selling_slider_wrapper .head h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000;
}
@media (max-width: 1199.98px) {
  .best_selling_slider_wrapper .head h1 {
    font-size: 29px;
  }
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .head h1 {
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  .best_selling_slider_wrapper .head h1 {
    font-size: 18px;
  }
}
.best_selling_slider_wrapper .head .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.best_selling_slider_wrapper .head .options button {
  border: 1px solid #B5B5B5;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 20.64px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 50px;
}
.best_selling_slider_wrapper .head .options button.selected {
  font-weight: 700;
  border-color: #FED700;
  border-width: 2px;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .head .options button {
    font-size: 13px;
    padding: 4px 12px;
  }
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .head {
    margin-bottom: 16px;
  }
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper {
    margin-top: 24px;
  }
}
.best_selling_slider_wrapper .navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}
.best_selling_slider_wrapper .navigation button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  background-color: #F3F3F3;
}
.best_selling_slider_wrapper .navigation button.next-2 {
  background-color: #000;
}
@media (max-width: 1199.98px) {
  .best_selling_slider_wrapper .navigation button {
    width: 40px;
    height: 40px;
  }
  .best_selling_slider_wrapper .navigation button svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .navigation button {
    display: none;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-pagination-bullets {
  display: none;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .best-selling .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best_selling_slider_wrapper .best-selling .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1 !important;
  }
  .best_selling_slider_wrapper .best-selling .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 8px !important;
    width: 20px !important;
    border-radius: 50px !important;
    background-color: #FDD802 !important;
    border: 2px solid #b59a00 !important;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-slide {
  margin-bottom: 48px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide * {
  color: #000;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .best-selling .swiper-slide h3 {
    font-size: 16px;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img {
  width: 100%;
  height: 380px;
  position: relative;
  background-color: #f4f5f7;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .best-selling .swiper-slide .img {
    font-size: 24px;
    height: 240px;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img .sale {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img .sale span {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img .sale span:last-child {
  background-color: #FED700;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .best-selling .swiper-slide .img .sale span {
    font-size: 12px;
    padding: 4px 12px;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img .add_to_cart {
  background-color: #141718;
  width: calc(100% - 32px);
  position: absolute;
  border-radius: 8px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: #FEFEFE;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  padding: 8px;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .best-selling .swiper-slide .img .add_to_cart {
    font-size: 14px;
    padding: 4px;
  }
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img .add_to_wishlist {
  border: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1215686275);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 16px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img img {
  width: 100%;
  height: calc(100% - 100px);
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 24px;
  left: 0;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .img *:not(img) {
  position: relative;
  z-index: 2;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .rate {
  margin-top: 16px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .price {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.best_selling_slider_wrapper .best-selling .swiper-slide .price span.old {
  opacity: 0.6;
}
.best_selling_slider_wrapper .best-selling .swiper-slide h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  color: #000;
  text-align: center;
  margin-top: 4px;
}
.best_selling_slider_wrapper .bottom {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-bottom: 24px;
}
.best_selling_slider_wrapper .bottom > button {
  border: 1px solid #B5B5B5;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 20.64px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 50px;
}
@media (max-width: 767.98px) {
  .best_selling_slider_wrapper .bottom > button {
    display: none;
  }
}

.customize {
  padding: 32px 0;
  background-color: #F3F5F7;
}
.customize .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 992.98px) {
  .customize .container {
    grid-template-columns: 1fr;
  }
}
.customize .container > div {
  width: 100%;
  overflow: hidden;
}
.customize .container .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .customize .container .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(183, 183, 183);
  border: 3px solid rgb(183, 183, 183);
  box-sizing: content-box;
  opacity: 1;
}
.customize .container .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, .customize .container .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #fff;
  background-color: #FED700;
}
.customize .container .ad-slider {
  max-width: 100%;
  height: calc(100% - 16px);
}
@media (max-width: 575.98px) {
  .customize .container .ad-slider {
    height: max-content;
  }
}
.customize .container .ad-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.customize .container .first_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 575.98px) {
  .customize .container .first_row {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
.customize .container .first_row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  background: rgb(28, 17, 0);
  background: linear-gradient(270deg, rgb(28, 17, 0) 0%, rgb(101, 75, 2) 100%);
  border-radius: 10px;
  padding: 16px;
  white-space: nowrap;
  gap: 16px;
  position: relative;
}
@media (max-width: 575.98px) {
  .customize .container .first_row > div {
    height: 120px;
  }
}
.customize .container .first_row > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../images/custom-bg.png");
  opacity: 0.2;
}
.customize .container .first_row > div * {
  position: relative;
  z-index: 2;
}
.customize .container .first_row > div p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .customize .container .first_row > div p {
    font-size: 14px;
    line-height: 20px;
  }
}
.customize .container .first_row > div h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .customize .container .first_row > div h1 {
    font-size: 16px;
    line-height: 20px;
  }
}
.customize .container .first_row > div img {
  width: 50%;
  object-fit: contain;
  max-height: 100%;
}
@media (max-width: 575.98px) {
  .customize .container .first_row > div img {
    width: auto;
  }
}
.customize .container .first_row > div button {
  padding: 4px 12px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 10.81px;
  font-weight: 500;
  line-height: 18.91px;
  letter-spacing: -0.2701408565px;
  color: #fff;
  margin-top: 8px;
}
.customize .container .first_row > div button svg {
  stroke: #fff;
}
.customize .container .last_row {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  padding: 16px;
  white-space: nowrap;
  gap: 16px;
  position: relative;
  margin-top: 12px;
}
.customize .container .last_row > div {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 1199.98px) {
  .customize .container .last_row > div {
    padding: 16px;
  }
}
@media (max-width: 992.98px) {
  .customize .container .last_row > div {
    margin-right: 140px;
  }
}
@media (max-width: 767.98px) {
  .customize .container .last_row > div {
    margin-right: 60px;
  }
}
@media (max-width: 575.98px) {
  .customize .container .last_row > div {
    margin-right: 0;
  }
}
.customize .container .last_row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  background: rgb(28, 17, 0);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(270deg, rgb(101, 75, 2) 0%, rgb(28, 17, 0) 100%);
  border-radius: 10px;
}
.customize .container .last_row * {
  position: relative;
  z-index: 2;
}
.customize .container .last_row p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .customize .container .last_row p {
    font-size: 14px;
    line-height: 26px;
  }
}
.customize .container .last_row h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .customize .container .last_row h1 {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .customize .container .last_row h1 {
    font-size: 14px;
  }
}
.customize .container .last_row img {
  height: 100%;
  min-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (max-width: 992.98px) {
  .customize .container .last_row img {
    object-position: right;
  }
}
@media (max-width: 575.98px) {
  .customize .container .last_row img {
    object-position: center bottom;
    width: 100px;
  }
}
.customize .container .last_row button {
  padding: 4px 12px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 10.81px;
  font-weight: 500;
  line-height: 18.91px;
  letter-spacing: -0.2701408565px;
  color: #fff;
  margin-top: 8px;
}
.customize .container .last_row button svg {
  stroke: #fff;
}

.pc_part {
  padding: 48px 0 0;
  background-color: #000;
  position: relative;
}
@media (max-width: 767.98px) {
  .pc_part {
    padding: 32px 0;
  }
}
.pc_part::after {
  width: 600px;
  height: 800px;
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  background-size: contain;
  background-image: url("./../images/Ellipse 23.png");
  background-repeat: no-repeat;
}
.pc_part > * {
  position: relative;
  z-index: 2;
}
.pc_part .head {
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.pc_part .head p {
  margin-bottom: 8px;
}
@media (max-width: 767.98px) {
  .pc_part .head p {
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: -8px;
  }
}
.pc_part .swiper-pagination-bullet {
  background-color: white !important;
}
.pc_part h1, .pc_part p, .pc_part button, .pc_part h3, .pc_part .price {
  color: #fff !important;
}
.pc_part .next-3 {
  background-color: #fff !important;
}
.pc_part .best_selling_slider_wrapper {
  margin: 0;
}
.pc_part .head .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pc_part .head .top > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pc_part .head .top > div > button {
  border: 1px solid #B5B5B5;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 20.64px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 50px;
}
@media (max-width: 767.98px) {
  .pc_part .head .top > div > button {
    display: none;
  }
}

.brands {
  padding: 48px 0 0;
  position: relative;
}
.brands .swiper-pagination-bullets {
  display: none;
}
@media (max-width: 767.98px) {
  .brands .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brands .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    opacity: 1 !important;
  }
  .brands .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 8px !important;
    width: 20px !important;
    border-radius: 50px !important;
    background-color: #FDD802 !important;
    border: 2px solid #b59a00 !important;
  }
}
@media (max-width: 767.98px) {
  .brands {
    padding: 24px 0;
  }
}
.brands > * {
  position: relative;
  z-index: 2;
}
.brands .head {
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.brands .head p {
  margin-bottom: 8px;
}
@media (max-width: 767.98px) {
  .brands .head p {
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: -8px;
  }
}
.brands .head .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brands .head .top > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.brands .head .top > div > button {
  border: 1px solid #B5B5B5;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 20.64px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 50px;
}
@media (max-width: 767.98px) {
  .brands .head .top > div > button {
    display: none;
  }
}
.brands .swiper-slide {
  padding: 16px;
  height: 120px;
  background-color: #F9F9F9;
  border-radius: 14px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .brands .swiper-slide {
    height: 80px;
  }
}
.brands .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.brands .next-4 {
  background-color: #000 !important;
}

.maintenance {
  position: relative;
  padding: 32px 0;
  height: 300px;
}
@media (max-width: 1199.98px) {
  .maintenance {
    height: 250px;
  }
}
@media (max-width: 767.98px) {
  .maintenance {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 72px;
  }
}
.maintenance::after {
  content: "";
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./../images/Maintenance_bg.png");
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
}
@media (max-width: 767.98px) {
  .maintenance::after {
    width: 100%;
    height: 100%;
  }
}
.maintenance img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
  z-index: 2;
}
@media (max-width: 1199.98px) {
  .maintenance img {
    margin-right: 10px;
  }
}
@media (max-width: 992.98px) {
  .maintenance img {
    margin-right: 32px;
    max-width: 300px;
  }
}
@media (max-width: 767.98px) {
  .maintenance img {
    position: relative;
    margin-top: -56px;
    width: 100%;
    object-position: center;
    margin-right: 0;
  }
}
.maintenance::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #E3A400 0%, #F4BE35 47%, #C19523 78%, #785909 100%);
  opacity: 0.7;
  filter: brightness(30%);
  z-index: 1;
}
@media (max-width: 767.98px) {
  .maintenance::before {
    bottom: 0;
    width: 100%;
  }
}
.maintenance .text {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .maintenance .text {
    width: 100%;
  }
}
.maintenance .text h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 4px 30px;
  padding-left: 72px;
  position: relative;
  width: max-content;
}
.maintenance .text h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #E3A400 0%, #F4BE35 47%, #C19523 78%, #785909 100%);
  opacity: 0.7;
  filter: brightness(30%);
  z-index: -1;
}
@media (max-width: 1199.98px) {
  .maintenance .text h1 {
    font-size: 21px;
    line-height: 30px;
    padding: 4px 30px;
    padding-left: 62px;
  }
}
@media (max-width: 767.98px) {
  .maintenance .text h1 {
    font-size: 21px;
    line-height: 30px;
    padding: 4px 30px;
    padding-left: 30px;
    width: 100%;
    text-align: center;
  }
}
.maintenance .text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 72px;
  margin-top: 8px;
}
@media (max-width: 1199.98px) {
  .maintenance .text p {
    font-size: 13px;
    line-height: 20px;
    margin-left: 62px;
    margin-top: 8px;
  }
}
@media (max-width: 767.98px) {
  .maintenance .text p {
    font-size: 13px;
    line-height: 20px;
    margin-left: 62px;
    margin-top: 8px;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    padding: 0 24px;
  }
  .maintenance .text p br {
    display: none;
  }
}
.maintenance .text > button {
  border: 1px solid #B5B5B5;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 20.64px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 50px;
  color: #fff;
  width: max-content;
  margin-left: 72px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1199.98px) {
  .maintenance .text > button {
    font-size: 12.38px;
    line-height: 15.64px;
    padding: 6px 16px;
    margin-left: 62px;
    margin-top: 12px;
    gap: 8px;
  }
}
@media (max-width: 767.98px) {
  .maintenance .text > button {
    margin: auto;
    margin-bottom: 32px;
    margin-top: 12px;
  }
}

.pc_wrapper {
  padding: 12px;
  background-color: #F5F5F5;
  margin-bottom: 32px;
  margin-top: 24px;
}

.pc-slider .swiper-slide {
  width: 200px;
  height: 56px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .pc-slider .swiper-slide {
    width: 150px;
    height: 40px;
    border-radius: 6px;
  }
}
.pc-slider .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(2px);
}
.pc-slider .swiper-slide h2 {
  font-size: 19.06px;
  font-weight: 500;
  line-height: 22.33px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .pc-slider .swiper-slide h2 {
    font-size: 16px;
  }
}

.services {
  padding: 48px 0;
  background-color: #F3F5F7;
  position: relative;
}
@media (max-width: 767.98px) {
  .services {
    padding: 24px 0;
  }
}
.services::after {
  content: "";
  width: 110%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, #FED700 0%, #00FFD7 100%);
  transform: translate(-50%, -50%) rotate(-1deg);
  z-index: -1;
}
@media (max-width: 767.98px) {
  .services::after {
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}
.services .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
@media (max-width: 767.98px) {
  .services .container {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
.services .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 767.98px) {
  .services .container > div:last-child {
    grid-column: span 2;
  }
}
.services .container > div img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}
@media (max-width: 992.98px) {
  .services .container > div img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 992.98px) {
  .services .container > div img {
    width: 56px;
    height: 56px;
    margin-bottom: 8px;
  }
}
.services .container > div h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
@media (max-width: 992.98px) {
  .services .container > div h1 {
    font-size: 17px;
    line-height: 26px;
  }
}
@media (max-width: 767.98px) {
  .services .container > div h1 {
    font-size: 12px;
    line-height: 23px;
  }
}
.services .container > div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
@media (max-width: 992.98px) {
  .services .container > div p {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 992.98px) {
  .services .container > div p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.ads {
  padding: 80px 0;
}
@media (max-width: 1199.98px) {
  .ads {
    padding: 72px 0;
  }
}
@media (max-width: 767.98px) {
  .ads {
    padding: 56px 0;
  }
}
.ads .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media (max-width: 992.98px) {
  .ads .container {
    grid-template-columns: 1fr;
  }
}
.ads .container .card {
  width: 100%;
  height: 256px;
  border-radius: 4px;
  background: radial-gradient(124.14% 546.57% at 27.73% 138.24%, #08090B 14.37%, #0B0C0E 81.56%);
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
@media (max-width: 1199.98px) {
  .ads .container .card {
    height: 200px;
  }
}
@media (max-width: 767.98px) {
  .ads .container .card {
    height: 160px;
  }
}
.ads .container .card img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
}
.ads .container .card .text {
  position: relative;
  z-index: 2;
  margin: 0 48px;
}
@media (max-width: 1199.98px) {
  .ads .container .card .text {
    margin: 0 40px;
  }
}
@media (max-width: 767.98px) {
  .ads .container .card .text {
    margin: 0 24px;
  }
}
.ads .container .card .text h1 {
  font-size: 28.79px;
  font-weight: 600;
  line-height: 36.28px;
  color: #f5f5f5;
}
@media (max-width: 1199.98px) {
  .ads .container .card .text h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
  }
}
@media (max-width: 767.98px) {
  .ads .container .card .text h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
}
.ads .container .card .text .rate {
  margin-top: 16px;
}
@media (max-width: 1199.98px) {
  .ads .container .card .text .rate {
    margin-top: 10px;
  }
}
.ads .container .card .text .price {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}
.ads .container .card .text .price span.old {
  opacity: 0.6;
}
@media (max-width: 767.98px) {
  .ads .container .card .text .price {
    gap: 14px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
  }
}
.ads .container .card .text h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.400000006px;
  color: #f5f5f5;
  margin-top: 4px;
}
@media (max-width: 767.98px) {
  .ads .container .card .text h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.400000006px;
    color: #f5f5f5;
    margin-top: 4px;
  }
}
.ads .container .card .text button {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  padding: 8px 56px;
  border-radius: 8px;
  background-color: #FED700;
  margin-top: 22px;
  text-decoration: none;
  width: max-content;
  border: none;
}
@media (max-width: 1199.98px) {
  .ads .container .card .text button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000;
    padding: 6px 36px;
    border-radius: 8px;
    background-color: #FED700;
    margin-top: 16px;
    text-decoration: none;
    width: max-content;
    border: none;
  }
}
@media (max-width: 767.98px) {
  .ads .container .card .text button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #000;
    padding: 4px 25px;
    border-radius: 8px;
    background-color: #FED700;
    margin-top: 5px;
    text-decoration: none;
    width: max-content;
    border: none;
  }
}
.ads .container .card:last-child {
  background: #58A0E2 !important;
}
@media (max-width: 992.98px) {
  .ads .container .card:last-child {
    grid-row: 1/span 1;
  }
}
.ads .container .card:last-child img {
  transform: scale(1.26);
  transform-origin: bottom right;
}
@media (max-width: 767.98px) {
  .ads .container .card:last-child img {
    transform: scale(1.2);
  }
}
.ads .container .card:last-child .text h1 {
  font-size: 43.19px;
  font-weight: 300;
  line-height: 54.41px;
}
.ads .container .card:last-child .text h1 span {
  font-size: 43.19px;
  font-weight: 600;
  line-height: 54.41px;
}
@media (max-width: 1199.98px) {
  .ads .container .card:last-child .text h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 20px;
  }
  .ads .container .card:last-child .text h1 span {
    font-size: 32px;
    line-height: 25px;
  }
}
@media (max-width: 767.98px) {
  .ads .container .card:last-child .text h1 {
    font-size: 20px;
    font-weight: 300;
    line-height: 14px;
  }
  .ads .container .card:last-child .text h1 span {
    font-size: 26px;
    line-height: 19px;
  }
}

footer {
  background-color: #000;
  position: relative;
}
footer::after {
  content: "";
  position: absolute;
  top: -16px;
  height: 100%;
  width: 100%;
  left: 0;
  background: linear-gradient(270deg, #00FFD7 0%, #FED700 100%);
  z-index: -1;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 72px 0;
}
@media (max-width: 1199.98px) {
  footer .container {
    gap: 32px;
    padding: 64px 0;
  }
}
@media (max-width: 992.98px) {
  footer .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    padding: 32px 0;
  }
}
footer .container * {
  color: #fff;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 767.98px) {
  footer .container > * {
    display: flex;
    justify-content: center;
  }
}
footer .container > div:first-child img {
  width: 200px;
}
@media (max-width: 1199.98px) {
  footer .container > div:first-child img {
    width: 160px;
    margin-bottom: 16px;
  }
}
footer .container > div:first-child a {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 24px 0;
  display: block;
}
footer .container > div:first-child p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1199.98px) {
  footer .container > div:first-child p {
    font-size: 14px;
  }
}
footer .container > div:first-child form {
  position: relative;
  width: max-content;
  margin-top: 24px;
}
footer .container > div:first-child form input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  width: 200px;
}
@media (max-width: 1199.98px) {
  footer .container > div:first-child form input {
    width: 180px;
    font-size: 16px;
    padding: 6px 12px;
  }
}
footer .container > div:first-child form svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
@media (max-width: 992.98px) {
  footer .container > div:first-child *:not(img) {
    display: none !important;
  }
}
@media (max-width: 992.98px) {
  footer .container > div:last-child {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row: 2;
  }
}
footer .container > div:last-child h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child h1 {
    display: none;
  }
}
footer .container > div:last-child p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.5;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child p {
    text-align: center;
  }
}
footer .container > div:last-child > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin: 16px 0;
}
footer .container > div:last-child > div > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }
}
footer .container > div:last-child > div > img {
  height: 84px;
  object-fit: contain;
  width: 84px !important;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child > div > img {
    display: none;
  }
}
footer .container > div:last-child > div img {
  width: 120px;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child > div img {
    height: 38px;
  }
}
footer .container > div:last-child > div.social {
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
@media (max-width: 992.98px) {
  footer .container > div:last-child > div.social {
    grid-row: 1;
    margin: 12px auto;
  }
}
footer .container > div:last-child > div.social a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992.98px) {
  footer .container ul {
    margin-bottom: 12px;
    flex-direction: column !important;
    align-items: center;
    justify-content: start;
  }
  footer .container ul li {
    width: 100%;
    padding: 0 16px;
  }
  footer .container ul li:not(:first-child) {
    display: none;
  }
  footer .container ul.open li {
    display: block !important;
  }
}
footer .container ul h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
footer .container ul h1 svg {
  display: none;
}
@media (max-width: 1199.98px) {
  footer .container ul h1 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 992.98px) {
  footer .container ul h1 {
    margin: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  footer .container ul h1 svg {
    display: flex;
  }
}
footer .container ul a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  display: block;
}
@media (max-width: 1199.98px) {
  footer .container ul a {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 8px;
  }
}
@media (max-width: 992.98) {
  footer .container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .copy {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 13px;
  gap: 8px;
}

.product_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  padding: 40px 0;
}
@media (max-width: 1399.98px) {
  .product_wrapper {
    gap: 40px;
    padding: 40px 0;
  }
}
@media (max-width: 992.98px) {
  .product_wrapper {
    grid-template-columns: 1fr;
  }
}
.product_wrapper .imgs {
  display: grid;
  grid-template-columns: 138px 500px;
  grid-template-rows: 600px;
  gap: 24px;
}
@media (max-width: 1399.98px) {
  .product_wrapper .imgs {
    grid-template-columns: 138px 480px;
    grid-template-rows: 400px;
  }
}
@media (max-width: 1199.98px) {
  .product_wrapper .imgs {
    grid-template-columns: 138px 380px;
    grid-template-rows: 400px;
  }
}
@media (max-width: 992.98px) {
  .product_wrapper .imgs {
    grid-template-columns: 138px 1fr;
  }
}
@media (max-width: 575.98px) {
  .product_wrapper .imgs {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.product_wrapper .imgs .other {
  display: grid;
  grid-template-rows: repeat(4, 138px);
  max-height: 100%;
  overflow: hidden;
  gap: 16px;
}
@media (max-width: 1399.99px) {
  .product_wrapper .imgs .other {
    grid-template-rows: repeat(4, 88px);
  }
}
@media (max-width: 575.99px) {
  .product_wrapper .imgs .other {
    grid-template-rows: repeat(1, 80px);
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
  }
}
.product_wrapper .imgs .other .img {
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #F5F5F5;
}
@media (max-width: 575.98px) {
  .product_wrapper .imgs .other .img {
    border-radius: 8px;
  }
}
.product_wrapper .imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_wrapper .imgs > .img {
  height: 600px;
  width: 100%;
  padding: 24px;
  background-color: #F5F5F5;
}
@media (max-width: 575.98px) {
  .product_wrapper .imgs > .img {
    border-radius: 8px;
  }
}
@media (max-width: 1399.98px) {
  .product_wrapper .imgs > .img {
    height: 500px;
  }
}
@media (max-width: 1199.98px) {
  .product_wrapper .imgs > .img {
    height: 400px;
  }
}
.product_wrapper .title {
  display: flex;
  justify-content: space-between;
}
.product_wrapper .title button {
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_wrapper .payments {
  display: flex;
  flex-direction: column;
}
.product_wrapper .payments h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.product_wrapper .payments .imgs {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1199.98px) {
  .product_wrapper .payments .imgs {
    flex-wrap: wrap;
  }
}
.product_wrapper .payments .imgs img {
  width: 90px;
  height: 34px;
  object-fit: contain;
}
@media (max-width: 1399.98px) {
  .product_wrapper .payments .imgs img {
    width: 70px;
    height: 32px;
  }
}
.product_wrapper .reviews {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.5058823529);
}
.product_wrapper .reviews .rate {
  margin: 0;
}
.product_wrapper .reviews .stock {
  background: linear-gradient(90deg, #FED700 0%, #00FFD7 100%);
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
}
.product_wrapper .reviews > span {
  display: block;
  height: 18px;
  width: 1px;
  background-color: gray;
}
.product_wrapper .price {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 16px 0;
}
.product_wrapper .desc {
  font-size: 16px;
  font-weight: 440;
  line-height: 21px;
  max-width: 400px;
  margin-bottom: 16px;
}
.product_wrapper hr {
  border: none;
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.product_wrapper .colors {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}
.product_wrapper .colors span {
  width: 32px;
  height: 32px;
  background-color: #4F4631;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.product_wrapper .colors span:nth-child(2) {
  background-color: #314F4A;
}
.product_wrapper .colors span:nth-child(3) {
  background-color: #31344F;
}
.product_wrapper .sizes {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0;
}
.product_wrapper .sizes span {
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.product_wrapper .sizes span.selected {
  background-color: #FED700;
  border: #FED700;
}
.product_wrapper .addtocart {
  display: flex;
  align-items: center;
  gap: 12px;
}
.product_wrapper .addtocart .quantity {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  gap: 16px;
  height: 50px;
}
.product_wrapper .addtocart .quantity > * {
  font-size: 18px;
  font-weight: 600;
  line-height: 20.16px;
}
.product_wrapper .addtocart .quantity button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}
.product_wrapper .addtocart .add_to_cart_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #FED700;
  height: 50px;
  border-radius: 8px;
  border: none;
  width: 100%;
}
.product_wrapper .delivary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  margin: 24px 0;
}
.product_wrapper .delivary .card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 16px;
}
.product_wrapper .delivary .card:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5019607843);
}
.product_wrapper .delivary .card h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 1199.98px) {
  .product_wrapper .delivary .card h3 {
    font-size: 16px;
  }
}
.product_wrapper .delivary .card p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: 500;
  line-height: 18px;
}
@media (max-width: 1199.98px) {
  .product_wrapper .delivary .card p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
